<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link rel="stylesheet" href="theme.css" />
    <script src="app_02.js" defer></script>
  </head>
  <body>

    <div class="container" id="app">
      <div class="card">
        <h1> {{ title }}</h1>
        <div class="form-control">
          <input 
            type="text"
            :placeholder="placeholderString"
            v-model="inputValue"
            @keypress.enter="addNewNote"
          />
        </div>
        <button class="btn" @click="addNewNote">Add</button>
        <hr/>
        <ul class="list" v-if="notes.length !==0">
          <li class="list-item" v-for="(Note, i) in notes">
            {{ Note }}
            <button class="btn danger" @click="removeNote(i)">Удалить</button>
          </li>
          <hr>
          <li>
              <strong>Общее количество заметок: {{ notes.length }}</strong> | Удвоенное: {{ doubleCountComputed }}
          </li>
        </ul>
        <div v-else> Заметок нет. Добавьте первую.</div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </body>
</html>
